/*My stylesheet
========================================================*/

/*Imported fonts
=================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&family=Varela+Round&display=swap');
/*===============*/

/*Reset CSS(http://meyerweb.com/eric/tools/css/reset/) v2.0 | 20110126 License: none (public domain)
===========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input:focus{
    outline: none;
}
img{
    width: 100%;
}
button{
    border: none;
    cursor: pointer;
    transition: all ease 0.7s;
}
body{
    padding: 0;
    overflow-x: hidden;
}
a, a:hover{
    text-decoration: none !important;
}
i{
    color: inherit;
}
.container-fluid{
    margin: 0 !important;
    padding: 0 !important;
}
/*=========================================================*/

/*======fonts========*/
/*====================*/

/*======Variables_start======*/
$color-primary: #2196F3;
$color-secondary : #86c5f9;
$color-third: #ECEFF1;
$color-fourth: #042a49;
$color-fifth: #ffb400;
$text-color: #607D8B;
/*============*/
p, a{
    color: $text-color;
    font-size: 0.95em;
}
/*========button classes=========*/
.butn{
    border:none;
    padding: 7px 13px;
    font-size: 0.9em;
    &.butn--primary{
        color: white;
        background: $color-fourth;
        &:hover{
            background: $color-secondary;
        }
    }
    &.butn--secondary{
        color: white;
        background: $color-fourth;
        &:hover{
            background-color: $color-third;
            color: $text-color;
        }
    }
}
/*========================*/

/*========Preloader=========*/
#loader-box{
    width: 100%;
    height: 100%;
    background : $color-third;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    visibility: visible;
    transition: visibility 0.5s ease-in-out;
    &.hide{
        animation: fadeOut 1s;
        visibility: hidden;
    }
    .loader-animation{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: linear-gradient(#066bbe, #024a7a);
        animation: jumping 1s  infinite;
    }
    .bounce-shadow{
        background: rgb(199, 199, 199);
        width: 80px;
        height: 10px;
        border-radius: 50%;
        animation: shadow 1s infinite;
    }
}
@keyframes jumping{
    0%{
       height: 70px;
       width: 85px;
    }
    50%{
        transform: translateY(-100px);
        height : 85px;
        width: 75px;
    }
    75%{
        width: 80px;
        height: 80px;
    }
    100%{
        transform: translateY(5px);
        width: 85px;
        height: 70px;
    }
}
@keyframes shadow{
    50%{
        width: 45px;
    }
    100%{
        width: 80px;
    }
}
@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
/*===========================/*

/*======header========*/
.nav-box{
    height: 70px;
    box-shadow: 0px 0px 15px 2px $color-third;
    &-container{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        .nav-logo{
            justify-self: flex-start;
            img{
                width: 75px;
            }
        }
        .nav-links{
            ul{
                margin: 0;
                li{
                    display: inline-block;
                    margin: 10px 25px;
                    font-size: 0.9em;
                    .nav-link{
                        color: $text-color;
                        &:hover{
                            color: $color-primary;
                        }
                        &#find-button, #find-button:active{
                            
                        }
                    }
                }
            }
        }
        .nav-connect{
            //justify-self: flex-end;
        }
    }

}
.banner{
    background: white;
    box-shadow: 2px 3px 3px 1px $color-third;
    &-image{
        padding: 0px !important;
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            width: 70%;
            &:first-child{
                font:{
                    size: 2.3em;
                    weight: bold;
                }
                line-height: 1em;
                color: $color-fourth;
            }
        }
        
    }
}
.town-banner{
    width: 100%;
    background: $color-third;
    .towns{
        display: flex;
        .town-item{
            margin : 5px;
            height: max-content;
            width: 300px;
            &-img{
                transition: filter 0.5s ease-in-out;
                &:hover{
                    filter: saturate(2.0);
                }
            }
            &-text{
                display: block;
                margin: 15px 10px;
                p{
                    line-height: 0.5em;
                    &:first-child{
                        color: $color-fourth;
                        font:{
                            size: 1.3em;
                            weight: bold;
                        }    
                    }
                }
            }
        }
    }
}
.house-search-container{
    min-height: 100vh;
}
.find-bar{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 10px #eee;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    div{
        display: inline-block;
    }
    label{
        display: block;
        font-size: 0.6em;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
        color: $color-primary;
    }
    .input-span{
        display: inline-block;
        margin : 0 10px;
        input{
            padding : 5px 10px;
            display: block;	
            position: relative;	
            border: 1px solid #eee;
            border-radius: 5px;
            font-size: 0.9em;
        }
    }
    &-item{
        margin : auto;
        i{ 
            font-size: 1.3em;
            color: $text-color;
        }
        &:first-child{
            grid-column: 1;
            position: relative;
            &:last-child{
                grid-column: 2;
            }
        }
    }
}
.house-container-controls{
    width: max-content;
    margin: auto;
    button{
        color: $text-color;
        padding: 7px;
        margin: 10px;
        &:hover{
            color: white;
            background: $color-fourth;
        }
    }
}
.house-container-1{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    .house-item{
        background: white;
        box-shadow: 0px 0px 5px $color-third;
        position: relative;
        box-sizing: border-box;
        margin: 10px;
        &:after{
            content: "";
            display: block;
            width: 0%;
            border-top: 2px solid $color-primary;
            transition: width 0.5s ease;
            margin: auto;
        }
        &:hover{
            box-shadow: 0px 0px 8px #d7e5ff;
            &:after{
                width: 100%;
            }
        }
        
        .house-img{
            display: block;	
            margin-bottom: 20px;
        }
        .house-location{
            p{
                line-height: 0.4em;
                &.house-address{
                    font-size: 0.8em;
                    color: #909eaf
                }
            }
        }
        .house-more-info{
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .house-price{
                font-size: 1.4em;
                color: $color-secondary;
                sub{
                    margin-top: -1em
                }
            }
            .house-categorie{
                padding: 3px;
                &.for-rent{
                    color: white;
                    background: $color-fourth;
                }
                &.for-sale{
                    color: $color-fourth;
                    background: $color-fifth;
                }
            }
        }
        .item-dimension-container{
            border-top: 1px solid $color-third;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 10px 5px;
            color: $text-color;
            font-size: 0.9em;
        }
    }
}
.announce-banner{
    height: 400px;
    background: url('../assets/img/house4.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    border-radius : 20% 30%;
    padding: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    p{
        color: white;
        font-size: 2em;
        font-weight: bold;
    }
}