/*My stylesheet
========================================================*/

/*Imported fonts
=================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&family=Varela+Round&display=swap');
/*===============*/

/*Reset CSS(http://meyerweb.com/eric/tools/css/reset/) v2.0 | 20110126 License: none (public domain)
===========================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=========================================================*/



/*Variables
=======================================*/
$first: white;
$second: #eee;
$third: #a00303;
$fourth: gray;
$fifth: #7aa9d4;
$text-primary: #646464;
@mixin shadowing($x: 0px, $y: 0px, $blur: 5px, $color: gray) {
    box-shadow: $x $y $blur $color;
}
@mixin transition($prop: all, $temps: 0.5s){
    transition : $prop $temps ease
}
$font-primary: 'Varela Round', sans-serif;
$font-secondary: 'Varela', sans-serif;
$font-third: 'Roboto', sans-serif;
/*=======================================*/

/*display classes
==================*/
.d-b{
    display: block;
}
.d-ib{
    display: inline-block;
}
/*===============*/

/*Width classes
=================*/
.xx-small{
    width: 10%;
}
.x-small{
    width: 25%;
}
.small{
    width: 40%
}
.medium{
    width: 50% !important;
}
.large{
    width: 65%;
}
.x-large{
    width: 75%
}
.xx-large{
    width: 85%
}
.full{
    width: 100%;
}
/*===============*/

label{
    font:{
        size: 0.8em;
    }
    margin: 0px 0px 10px 10px ;
}
.input__bloc{
    height: 2.19em;
    border: 2px solid #eee;
    border-radius: 5px;
}
.input{
    position: relative;
    overflow: auto;
    cursor: pointer;
    width: max-content;
    margin: 10px 0px;
    .input__bloc{
        width: 100%;
        height: 100%;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        background: transparent;
        padding-left: 15px;
        cursor: pointer;
    }
    input.input__bloc{
        width: 91%;
        height: 83%;
    }
    &.input--select{
        &:hover::after{
            color: $third;
        }
        &::after{
            content: '\276F';
            position : absolute ;
            top: 25% ;
            right: 0 ;
            padding: 0 10px;
            transform: rotate(90deg);
            font-size : 0.8em;
            color: $fourth;
            pointer-events: none;
            background: #eee;
        }
    }
    &.input--style-1{
        height: 40px;
        width: 75%;
        border-radius: 30px;
        background: #eee;
        margin: 25px auto;
        .input__bloc{
            border: none;
        }
    }
    &.input--style-2{
        height: 2.2em;
        width: 75%;
        margin: 10px auto;
        .input__bloc{
            border: 2px solid $second; 
            border-radius: 5px;  
        }
    }
}
.input-tag{
    display: flex;
    justify-content: space-around;
    input{
        border: none;
		border-left: 1px solid #eee;
		padding-left: 15px;
    }
    .tag{
        color: gray;
		align-self: center;
		text-align: center;	
        display: block;
        padding: 0 1em;
    }
}

html{
    overflow-x: hidden;
    color: $text-primary;
    img{
        width: 100%;
    }
}
html, button, input, select{
    font-family: $font-primary;
}
/*Button__start*/
.button{
    padding: 10px 25px;
    background: $third;
    color: $first;
    cursor: pointer;
    border:{
        style: none;
        radius: 10px;
    }
    @include transition();
    &:hover{
        background: $first;
        color: $third;
        @include shadowing();
    }
}
/*Button_end*/
/*banner*/
.header{
    width: 100%;
    height: 400px;
    background: url('../assets/img/banner/img2.jpg')center;
    background-size: cover;
    padding: 20px;
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .logo{
            width: 100px;
            height: auto;
        }
       &__navs{
            list-style-type: none;
            .navigation__item{
                display: inline-block;
                margin: 0px 20px;
                a{
                    color: $first;
                    font-size: 1em;
                    text-decoration: none;
                    @include transition(opacity);
                    &::after{
                        content:"";
                        display: block;
                        padding: 3px 0px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.212);
                        width: 0%;
                        @include transition(width);
                    }
                    &:hover{
                        opacity: 0.6;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .connect{
            button{
                background: transparent;
                border: 2px solid $first;
                border-radius: 20px;
                color: $first;
                font-size: 1em;
                cursor: pointer;
                @include transition;
                &:hover{
                    background: $first;
                    color: $third;
                }
        }
    }
    }
    .banner__container{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        &__text{
            color: $first;
            grid-row:2;
            grid-column: 1;
            font:{
                family: $font_third;
                size: 2em;
            }
            z-index: 5;
            top: 20px;
            left: 20px;
            margin: 0px 50px;
        }
        &__form{
            background: $first;
            @include shadowing;
            grid-row: 2/4;
            grid-column: 2;
            border-radius: 50px;
            width: 60%;
            margin-left: 100px;
            padding: 20px;
            form{
                text-align: center;
                p{
                    color: $text-primary;
                    width: max-content;
                    margin: auto;
                    &::after{
                        content:"";
                        display: block;
                        margin: 10px auto;
                        width: 50%;
                        border-bottom: 2px solid $third;
                    }
                }
                .input--style-2{
                    margin: 25px auto;
                }
            }
        }
    }
}
.main{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    .slide{
        margin: auto;
        width: 95%;
        padding: 10px;
        .item{
            width:300px;
            padding: 20px;
            a{
                width: 300px;
                position: relative;
                display: block;
                img{
                    border-radius: 10px;
                    @include transition();
                    @include shadowing($color:#747373);
                }
                &:hover{
                    .item__hover{
                        height: 70%;
                        table{
                            visibility: visible;
                        }
                    }
                    img{
                        box-shadow: 0px 0px 10px #747373;
                    }
                }
                .item__hover{
                    position: absolute;
                    width: 100%;
                    height: 0%;
                    bottom: 0;
                    border-radius: 10px;
                    @include transition();
                    background: rgba(0, 0, 0, 0.637);
                    color: $first;
                    table{
                        visibility: hidden;
                        font-size: 0.8em;
                        position: relative;
                        bottom: 0;
                        padding: 20px;
                        display: block;
                        th{
                            text-align: left;
                            padding: 5px 15px;
                            font-weight: bold;
                        }
                    }
                }
                .item__catg{
                    position: absolute;
                    width: max-content;
                    top: 0%;
                    right: 0%;
                    font-size: 0.8em;
                    padding: 5px 10px;
                    background: $third;
                    color: $first;
                }
            }
        }
    }
}
.bloc1{
    padding: 20px;
    display: flex;
    &__left{
        display: inline-block;
        border-right: 1px solid $second;
        width: 30%;
        &__bloc{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin: 20px auto;
            box-shadow: 0px 0px 15px #d3d3d3;
            padding: 35px 10px;
            .flex-input{
                display:flex; 
                align-items: center; 
                justify-content: space-between; 
                padding: 10px 0;
            }
            p{
                font:{
                    size: 0.8em;
                    weight: bold;
                }
                color: $third;
            }
        }

    }
    &__right{
        width: 70%;
        display: inline-block;
    }
}
.house-container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 10px;
    &__item{
        width: 270px;
        margin: 20px 10px;
        border-radius: 5px;
        padding-bottom: 30px;
        @include transition();
        &:hover{
            @include shadowing($blur:15px, $color: #d4d4d4);
        }
        a{
            color: $text-primary;
            text-decoration: none;
            font-family: $font-third;
            font-size: 0.85em;
        }
        .house-image{
            display: block;
            img{
                border-radius: 5px;
            }
        }
        .house-infos{
            padding: 10px;
            li{
                margin: 5px 0px;
                &:nth-child(1){
                    font-weight: bold;
                }
                &:nth-child(3){
                    color: $third;
                    font-weight: bold;
                    font-size: 1.2em;
                    sub{
                        font-size: small;
                    }
                }
            }

        }
    }
}
.msg-1{
    border: 1px solid #eee;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    i{
        margin: 0 10px;
        display: inline-block;
        color: $fifth;
    }
    p{
        display: inline-block;
        width: 80%;
    }
}