/*Ma feuille de style*/

/*variables_start*/
$first: white;
$second: #eee;
$third: #a00303;
$fourth: gray;
$text-primary: #646464;
$shadow: 0px 0px 5px gray;
@mixin transition($prop: all, $temps: 0.5s){
    transition : $prop $temps ease
}
/*variables_end*/

/*display classes*/
.d-b{
    display: block;
}
.d-ib{
    display: inline-block;
}
/*display classes*/

/*Width classes*/
.xx-small{
    width: 10%;
}
.x-small{
    width: 25%;
}
.small{
    width: 40%
}
.medium{
    width: 50% !important;
}
.large{
    width: 65%;
}
.x-large{
    width: 75%
}
.xx-large{
    width: 85%
}
.full{
    width: 100%;
}
/*Width classes*/
label{
    font:{
        size: 0.8em;
    }
    margin: 0px 0px 10px 10px ;
}
.input__bloc{
    height: 2.19em;
    border: 2px solid #eee;
    border-radius: 5px;
}
.input{
    position: relative;
    overflow: auto;
    cursor: pointer;
    width: max-content;
    margin: 10px 0px;
    .input__bloc{
        width: 100%;
        height: 100%;
        appearance: none;
        -moz-appearance: none;
        outline: 0;
        background: transparent;
        padding-left: 15px;
        cursor: pointer;
    }
    input.input__bloc{
        width: 91%;
        height: 83%;
    }
    &.input--select{
        &:hover::after{
            color: $third;
        }
        &::after{
            content: '\276F';
            position : absolute ;
            top: 25% ;
            right: 0 ;
            padding: 0 10px;
            transform: rotate(90deg);
            font-size : 0.8em;
            color: $fourth;
            pointer-events: none;
            background: #eee;
        }
    }
    &.input--style-1{
        height: 40px;
        width: 75%;
        border-radius: 30px;
        background: #eee;
        margin: 25px auto;
        .input__bloc{
            border: none;
        }
    }
    &.input--style-2{
        height: 2.2em;
        width: 75%;
        margin: 10px auto;
        .input__bloc{
            border: 2px solid $second; 
            border-radius: 5px;  
        }
    }
}
.input-tag{
    display: flex;
    justify-content: space-around;
    input{
        border: none;
		border-left: 1px solid #eee;
		padding-left: 15px;
    }
    .tag{
        color: gray;
		align-self: center;
		text-align: center;	
        display: block;
        pdding: 0 1em;
    }
}
*{
    margin: 0;
    font:{
        family: "Open sans"
    }
}
html{
    overflow-x: hidden;
    color: $text-primary;
    img{
        width: 100%;
    }
}
/*Button__start*/
.button{
    padding: 10px 25px;
    background: $third;
    color: $first;
    cursor: pointer;
    border:{
        style: none;
        radius: 10px;
    }
    @include transition();
    &:hover{
        background: $first;
        color: $third;
        box-shadow: $shadow;
    }
}
/*Button_end*/
/*banner*/
.header{
    width: 100%;
    height: 400px;
    background: url('../assets/img/banner/img2.jpg')center;
    background-size: cover;
    padding: 20px;
    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .logo{
            width: 100px;
            height: auto;
        }
       &__navs{
            list-style-type: none;
            .navigation__item{
                display: inline-block;
                margin: 0px 20px;
                a{
                    color: $first;
                    font-size: 0.85em;
                    text-decoration: none;
                    @include transition(opacity);
                    &::after{
                        content:"";
                        display: block;
                        padding: 3px 0px;
                        border-bottom: 2px solid rgba(255, 255, 255, 0.212);
                        width: 0%;
                        @include transition(width);
                    }
                    &:hover{
                        opacity: 0.6;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .connect{
            button{
                background: transparent;
                border: 2px solid $first;
                border-radius: 20px;
                color: $first;
                font-size: 1em;
                cursor: pointer;
                @include transition;
                &:hover{
                    background: $first;
                    color: $third;
                }
        }
    }
    }
    .banner__container{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        &__text{
            color: $first;
            grid-row:2;
            grid-column: 1;
            font:{
                family: 'Open sans';
                size: 2em;
                weight: bold;
            }
            z-index: 5;
            top: 20px;
            left: 20px;
            margin: 0px 50px;
        }
        &__form{
            background: $first;
            box-shadow: $shadow;
            grid-row: 2/4;
            grid-column: 2;
            border-radius: 50px;
            width: 60%;
            margin-left: 100px;
            padding: 20px;
            form{
                text-align: center;
                p{
                    color: $shadow;
                    font-weight: bold;
                    width: max-content;
                    margin: auto;
                    &::after{
                        content:"";
                        display: block;
                        margin: 10px auto;
                        width: 50%;
                        border-bottom: 2px solid $third;
                    }
                }
                .input--style-2{
                    margin: 25px auto;
                }
            }
        }
    }
}
.main{
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
    .slide{
        margin: auto;
        width: 95%;
        padding: 10px;
        .item{
            width:300px;
            padding: 20px;
            a{
                width: 300px;
                position: relative;
                display: block;
                img{
                    border-radius: 10px;
                    box-shadow: 0px 0px 5px #747373;
                    @include transition();
                }
                &:hover{
                    .item__hover{
                        height: 70%;
                        table{
                            visibility: visible;
                            padding: 10px;
                        }
                    }
                    img{
                        box-shadow: 0px 0px 10px #747373;
                    }
                }
                .item__hover{
                    position: absolute;
                    width: 100%;
                    height: 0%;
                    bottom: 0;
                    border-radius: 10px;
                    @include transition();
                    background: rgba(0, 0, 0, 0.637);
                    color: $first;
                    table{
                        visibility: hidden;
                        font-size: 0.8em;
                        th{
                            text-align: left;
                        }
                    }
                }
                .item__catg{
                    position: absolute;
                    width: max-content;
                    top: 0%;
                    right: 0%;
                    font-size: 0.8em;
                    padding: 5px 10px;
                    background: $third;
                    color: $first;
                }
            }
        }
    }
}
.bloc1{
    padding: 20px;
    &__left{
        display: inline-block;
        border-right: 1px solid $second;
        width: 30%;
        &__bloc{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin: 20px auto;
            box-shadow: 0px 0px 15px #d3d3d3;
            padding: 35px 10px;
            .flex-input{
                display:flex; 
                align-items: center; 
                justify-content: space-between; 
                padding: 10px 0;
            }
            p{
                font:{
                    size: 0.8em;
                    weight: bold;
                }
                color: $third;
            }
        }

    }
    &__right{
        width: 70%;
        display: inline-block;
    }
}
