/*Mobile style*/
@media screen and (max-width: 768px){
    nav{

    }
    .banner{
        flex-direction: column-reverse;
        &-image{
            display: none;
        }
        &-text{
            text-align: center;
            p{
                width: 100%;
                &:first-child{
                    font:{
                        size: 1.9em;
                        
                    }
                }
            }  
        }
    }
    .find-bar{
        flex-direction: column;
        width: 95%;
        margin:25px auto;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 10px #eee;
        padding: 20px;
        font-size: 0.9em;
        label{
            display: block;
            font-size: 0.6em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }
        .input-span{
            display: inline-block;
            margin : 10px auto;
            input{
                padding : 5px 10px;
                display: block;	
                border: 1px solid #eee;
                border-radius: 5px;
                font-size: 0.9em;
            }
        }
        &-item{
            margin : 5px auto;
            text-align: center;
            i{ 
                display: block;
                margin: 10px auto;
            }
            &:first-child{
                grid-column: 1;
                position: relative;
                &:last-child{
                    grid-column: 2;
                }
            }
        }
    }
}